git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow==3.12.2
python-telegram-bot==11.1.0
umongo==3.0.0
requests
bs4
Pyromod
imdbpy
youtube-dl
youtube_search
requests
googletrans==3.1.0a0
telegraph
beautifulsoup4
gTTS
googletrans==3.1.0a0
NumPy
glitch_this
opencv-python-headless
youtube-search-python==1.4.6
yt-dlp
pypng
Pillow
wget
aiofiles
aiohttp
psutil
wheel
humanize
ytthumb
pypdf2
PyPDF2
pyshorteners
ffmpeg-python
TgCrypto
carbonnow==0.0.1
Pillow>=4.2.0
py-tgcalls
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
ffmpeg
Pillow
ujson
parse-torrent-name
bs4
string-extract
domain-extract
hashtags_extract
Pymoe
pendulum
pytesseract
pyshorteners
persondoesnotexist
catdoesnotexist
python-decouple
speedtest-cli
countryinfo
python-telegram-bot==11.1.0
pyromod~=1.5
speedtest
satisfactory
